# dependencies
node_modules/

# build
dist/
src/utils/vectorPrint/printFontBase64.generated.ts

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Capacitor
ios/
android/
.expo/
